.issue-weui-tabbar__item{
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  display: block;
  padding: 5px 0 0;
  position: relative;
  font-size: 0;
  height:160px;
  width:25%;
  box-sizing: border-box;
  color: #999999;
  text-align: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  .taro-text-wrap{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.issue-weui-tabbar {
  display: flex;
  position: relative;
  z-index: 500;
  bottom: 0;
  width: 100%;
  flex-wrap: wrap;
  background-color: #F7F7FA;
}
.issue-weui-card{
  background-color: #FAFBFC;text-align: center;padding: 0 24px;
  .issue-weui-primary,.issue-weui-special,.issue-weui-modal{
    font-size: 28px;
    color:#6E7889;
    text-align: left;
    margin: 20px 0 8px 0;
    line-height: 40px;
  }
}
.radio-properties-edit{
  .property-del{
    width:40px;
    height:40px;
    img{
      width:100%;
      height:100%;
      display: block;

    }

}
  .addbth{
    margin: 20px 60px;
  }
}
