.rate{
  font-size:24px;
  text-align: center;
  padding: 20px 74px;
  .label{
    padding: 4px 10px;
    background-color: #EEF0F5;
    border-radius: 6px;
  }
  .star{
    justify-content: center;
    margin: 20px   auto;
  }
}
