@import "@styles/theme.scss";

.comp-item-list {
  margin-top: 20px;
  background: #ffffff;
}

.comp-item-list__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight:400;
  color:rgba(147,155,168,1);
font-size: 24px;
  height: 62px;
  padding: 0 32px;
  background: #f4f5f7;
}

.comp-item-list__wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 15px;
}

.comp-item-list__item {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 32px 32px;
  position: relative;
  &-img {
    width: 160px;
    height: 120px;
    margin-right: 16px;
  }

  &-info {
    display: flex;
    flex-direction: column;
  }

  &-name {
    font-size: 28px;
    font-weight:500;
    color:rgba(38,43,50,1);
    line-height:32px;
    @include text-ellipsis;
  }

  &-price-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &-price {
    margin-top: 16px;
    font-weight:400;
    color:rgba(147,155,168,1);
    line-height:24px;
    font-size: 24px;
  }

  &-price--origin {
    margin-left: 14px;
    color: $text-color-lighter;
    font-size: 30px;
    font-weight: 200;
    line-height: 48px;
    text-decoration: line-through;
    text-decoration-color: $text-color-lighter;
  }
}
